# Dependencies
node_modules/
.pnp/
.pnp.js
.tools/

# Expo / React Native
.expo/
dist/
web-build/

# Java
target/
build/
.gradle/

# Python
__pycache__/
.pytest_cache/
.venv/
venv/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
